
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

Assets/Cutscenes/Prevention/42.png
Assets/Cutscenes/Sickness/1819_SkVNQSBHRVIgMTAxMi0xMg.png
Assets/Cutscenes/Research/secret-liquid-experiment-vector.png
Assets/Cutscenes/Corrupt/vecteezy_anti-corruption-campaign-orator_.png
